@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(75, 75, 75);
    font: normal 1.2em arial, helvetica, verdana, sans-serif;
}
header{
    background-image: linear-gradient(to bottom, white 90%, rgb(75, 75, 75));
    text-align: center;
    height: 300px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
header h1{
    padding-top:20px ;
    margin-bottom: 20px;
}
header p{
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}
header img{
    max-width: 178px;
    
}
main{
    text-align: justify;
    max-width: 600px;
    background-color: white;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0px;
}
main h1{
    margin-bottom: 20px;
}
main h2{
    margin-bottom: 15px;
}
main p{
    margin-bottom: 15px;
}
main img{
    width: 100%;
}
footer{
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    background-color: black;
    color: white;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 0px 30px;
}
footer a:hover{
    text-decoration: underline;
}
footer nav{
    margin-bottom: 10px ;
}
